.content-form-project {
  width: 100%;
  max-width: 450px;
}

.content-form-project form h1 {
  padding-left: 96px;
  font-size: 52px;
}

.content-form-project form input.project,
.content-form-project form input.technology {
  width: 100%;
  height: 60px;
  margin-top: 32px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.content-form-project form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  margin-top: 32px;
  line-height: 24px;
}

.content-form-project form .upload-group {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label#upload {
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  width: 100%;
  max-width: 190px;
  height: 140px;
  color: #7AC14E;
  background-color: #fff;
  padding: 6px 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

label#upload.has-image {
  border: 0;
}

input[type=file] {
  display: none;
}
