.confirm-project-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.confirm-project-container .add-project {
  width: 100%;
  max-width: 450px;
  margin-left: 96px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.confirm-project-container .add-project h1 {
  font-size: 52px;
  margin-bottom: 20px;
}
