header {
  width: 100%;
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

header .logo-group {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo-group img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

header .logo-group h1 {
  margin-left: 10px;
  font-size: 48px;
  color: #7AC14E;
  font-weight: lighter;
}

header .welcome-guide {
  margin-right: 80px;
}

header .welcome-guide .menu {
  display: flex;
  flex-direction: row;
}

header .welcome-guide .menu h1 {
  font-size: 48px;
  font-weight: lighter;
}

header .welcome-guide .menu .create-project,
header .welcome-guide .menu .logout {
  width: 60px;
  height: 60px;
  margin-left: 18px;
  background-color: #7AC14E;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .welcome-guide input {
  width: 100%;
  height: 50px;
  margin-top: 32px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}
