header#main-page {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
  background: #384f7d;
  display: flex;
  justify-content: space-between;
}

header#main-page .logo-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header#main-page .logo-group img {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

header#main-page .logo-group h1 {
  margin-left: 10px;
  font-size: 48px;
  color: #7ac14e;
  font-weight: lighter;
}

header#main-page .welcome-guide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header#main-page .welcome-guide h1 {
  font-size: 48px;
  font-weight: lighter;
  color: #fff;
}

header#main-page .welcome-guide .button {
  width: 60px;
  height: 60px;
  margin-left: 18px;
  background-color: #7ac14e;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}
