.register-content {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-content .content {
  width: 100%;
  padding: 30px 50px;
  background-color: #F0F4FD;
  box-shadow: 0 0 100px rgba(56, 79, 125, 0.5);
  border-radius: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register-content .content .line-division {
  width: 6px;
  height: 600px;
  background-color: #7AC14E;
  opacity: 0.5;
}

.register-content .content section {
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-content .content section h1 {
  font-size: 70px;
  margin-bottom: 80px;
}

.register-content .content section img {
  max-width: 300px;
  max-height: 472px;
  width: auto;
  height: auto;
}

.register-content .content section .login-link {
  margin-top: 80px;
  font-size: 24px;
  text-decoration: none;
  color: #384F7D;
  opacity: 0.9;

  display: flex;
  align-items: center;
}

.register-content .content section .login-link svg {
  margin-left: 8px;
}
